<%= error_messages_for 'repository' %>

<div class="box tabular">
<p>
<%= label_tag('repository_scm', l(:label_scm)) %><%= scm_select_tag(@repository) %>
<% if @repository && ! @repository.class.scm_available %>
  <em class="info error"><%= l(:text_scm_command_not_available) %></em>
<% end %>
</p>

<p><%= f.check_box :is_default, :label => :field_repository_is_default %></p>





<% if Setting.plugin_gitdownload["git_repo_is_remote"] == 'on' %>
    <% if Setting.plugin_gitdownload["git_auto_create_repo"] == 'on' &&  params[:action] != 'edit' %>
        <p id="create_repo"><%= f.check_box :create_repo, :label => :field_repository_create, :checked => true %></p>
    <% else %>
        <p id="create_repo"><%= f.check_box :create_repo, :label => :field_repository_create %></p>
    <% end %>
<% end %>

<p>

<%= f.text_field :identifier, :disabled => @repository.identifier_frozen?, :required => true %>
<% unless @repository.identifier_frozen? %>
  <em class="info">
    <%= l(:text_length_between, :min => 1, :max => Repository::IDENTIFIER_MAX_LENGTH) %> <%= l(:text_repository_identifier_info).html_safe %>
      <% if Setting.plugin_gitdownload["git_repo_is_remote"] == 'on' %>
        <span id="gitdownload-info" class="gitdownload-info">
            Changing "<%= l(:field_path_to_repository) %>" will break git-http-backend authentication
        </span>
      <% end %>
  </em>
<% end %>
</p>

<% button_disabled = true %>
<% if @repository %>
  <%  button_disabled = ! @repository.class.scm_available %>
  <%= repository_field_tags(f, @repository) %>
<% end %>
</div>


<% if Setting.plugin_gitdownload["git_repo_is_remote"] == 'on' %>
    <% if params[:action] != 'edit' %>
        <script type="text/javascript">

            var path = "<%= Setting.plugin_gitdownload["git_repo_create_path"] %>/<%= @project.identifier %>.";
            var path = path.replace('//', '/');
            var suffix = ".git";
        
            $('#repository_identifier').on('keyup', function() {
                $('#repository_url').val(path + $(this).val() + suffix);
            });

            if($('#repository_url').val() == '') {
                $('#repository_url').val(path + '<REPO IDENTIFIER>' + suffix);
            }
        </script>
    <% end %>
<% end %>

<p>
  <%= submit_tag(@repository.new_record? ? l(:button_create) : l(:button_save), :disabled => button_disabled) %>
  <%= link_to l(:button_cancel), settings_project_path(@project, :tab => 'repositories') %>
</p>
