<% locale = User.current.language.blank? ? ::I18n.locale : User.current.language %>

<% html_title l(:label_gitdownload_config) %>

<% content_for :header_tags do %>
    
<% end %>
	<p>
		<label for="git_url"><%= l(:label_gitdownload_host) %></label>
	    <input style="width: 300px;" type="text" id="git_url" value="<%= settings["git_url"] %>" name="settings[git_url]" >
	</p>
	<p>
		<label for="git_show_repourl"><%= l(:git_show_repourl) %></label>
		<%= check_box_tag "settings[git_show_repourl]", settings['git_show_repourl'], @settings['git_show_repourl'] %>
	</p>
	<p>
		<label for="git_show_revs"><%= l(:git_show_revs) %></label>
	    <%= check_box_tag "settings[git_show_revs]", settings['git_show_revs'], @settings['git_show_revs'] %>
	</p>
	<p>
		<label for="git_archive_last"><%= l(:git_archive_last) %></label>
	    <input type="text" id="git_archive_last" value="<%= settings["git_archive_last"] %>" name="settings[git_archive_last]" >
	</p>
	<p>
		<label for="git_repo_create_path"><%= l(:git_repo_create_path) %></label>
	    <input style="width: 300px;" type="text" id="git_repo_create_path" value="<%= settings["git_repo_create_path"] %>" name="settings[git_repo_create_path]" >
	</p>
	<p>
		<label for="git_auto_create_repo"><%= l(:git_auto_create_repo) %></label>
		<%= check_box_tag "settings[git_auto_create_repo]", settings['git_auto_create_repo'], @settings['git_auto_create_repo'] %>
	</p>
