<% if User.current.allowed_to?(:commit_access, @project) %>
	<div class="git box">

        <script type="text/javascript">
            new Clipboard('.clipboard');
        </script>

		<% if Setting.plugin_gitdownload["git_show_repourl"] == 'on' %>
			<div>
				<h3><%= l(:label_repository_url) %></h3>
                <% @project.repositories.sort.each do |repository| %>
                    <div class="clipboard-wrapper">
                        <input class="copy-input" id="git-url_<%= repository.identifier %>" value="git clone <%= Setting.plugin_gitdownload["git_url"] %><%= @project.identifier %><% if !repository.identifier.blank? %>.<%= repository.identifier %>.git<% end %>">
                        <button class="clipboard" data-clipboard-target="#git-url_<%= repository.identifier %>">
                        </button>
                    </div>                    
                <% end %>
			</div>
		<% end %>

		<%= link_to l(:git_details),
			:controller => 'repositories',
			:action => 'show',
			:git_dl => '1'
		%>
	</div>
<% end %>