<!--FIXME: workaround for User.current is anonymous-->
<!--% if User.current.allowed_to?(:commit_access, @project) %-->
<% if true %>
	<div id="git-icon" class="git-icon"></div>
		
	<script type="text/javascript">
		
		GITDOWNLOAD_CONTROLLER = '<%= Setting.protocol.downcase %>://<%= Setting.host_name %>/gitdownload';
		GITDOWNLOAD_REPO = '<%= @project.identifier %><% if !repository.identifier.blank? %>.<%= repository.identifier %>.git<% end %>';
		GITDOWNLOAD_ID = '<%= @repository.id %>';
		GITDOWNLOAD_ERROR = '<%= l(:label_reporitory_error) %>';
		
		$(document).ready(function() {
    		<% if params[:git_dl] == '1' %>
    			$("#git-options").dialog("open");
    		<% end %>
		});
		
        new Clipboard('.clipboard');

	</script>
	
	<div id="git-options" class="git-options" title="<%= l(:label_git_download) %>">
	
		<% if Setting.plugin_gitdownload["git_show_repourl"] == 'on' %>
			<div>
				<h3><%= l(:label_repository_url) %></h3>
				<div class="clipboard-wrapper">
                    <input readonly="readonly" id="git-url" class="git-url" value="git clone <%= Setting.plugin_gitdownload["git_url"] %><%= @project.identifier %><% if !@repository.identifier.blank? %>.<%= repository.identifier %>.git<% end %>">
                    <button class="clipboard" data-clipboard-target="#git-url">
                </div>
			</div>
		<% end %>
		
		
		<div class="left">
			<h3><%= l(:label_download_branch) %></h3>
			<% if !@repository.branches.nil? && @repository.branches.length > 0 -%>
				<%= select_tag :gitBranch, options_for_select([''] + @repository.branches, @rev), :id => 'gitBranch' %>
			<% end -%>
		</div>
		<div class="right">
			<h3><%= l(:label_download_format) %></h3>
			<%= select_tag :gitFormat, options_for_select(['tar.gz','tar.bz2','zip']), :id => 'git-format' %>
			<input id="gitType" type="hidden" value="all">
		</div>
		<% if Setting.plugin_gitdownload["git_show_revs"]  == 'on' %>
                        <!--FIXME: workaround for User.current is anonymous-->
                        <!--% if authorize_for('repositories', 'revisions') %-->
                        <% if true %>
				<% if @changesets && !@changesets.empty? %>
					<div id="revs" class="revs">
						<h3><%= l(:label_latest_revision_plural) %></h3>
						
						<%= render :partial => 'gitrevisions',
							:locals => {:project => @project, :path => @path,
							:revisions => @changesets, :entry => nil } %>
					</div>
				<% end %>
			<% end %>
		<% end %>
		<div id="frame" class="frame"></div>	
	</div>
<% end %>