<div id="gitIcon"></div>

<script type="text/javascript">
	
	GITDOWNLOAD_CONTROLLER = '<%= Setting.protocol.downcase %>://<%= Setting.host_name %>/gitdownload';
	GITDOWNLOAD_ID = '<%= @repository.id %>';
	GITDOWNLOAD_ERROR = '<%= l(:label_latest_revision_plural) %>';
	
	$(document).ready(function() {
	    $('.clippy').clippy({
		    width: 20,
		    height: 20,
		    flashvars: {
			    label: '',
			    wmode: "transparent"
		    },
		    clippy_path: '<%= Setting.protocol.downcase %>://<%= Setting.host_name %>/plugin_assets/gitdownload/javascripts/jquery.clippy/clippy.swf'
	    });
	});
</script>

<div id="gitOptions" title="RedGit">
	<p>
		<h3>GIT Repository URL</h3>
		<pre id="gitUrl">http://<%= Setting.host_name %>/<%= @project.identifier %>/</pre>
		<span class="clippy" data-text="http://redmine.tagwork-one.de/git/<%= @project.identifier %>/"></span>	
	</p>
	<p>
<!-- 		<%= debug(@repository) %> -->
		<h3>Choose Branch</h3>
		<% if !@repository.branches.nil? && @repository.branches.length > 0 -%>
			<%= select_tag :gitBranch, options_for_select([''] + @repository.branches, @rev), :id => 'gitBranch' %>
		<% end -%>
	</p>
	<p>
		<% if authorize_for('repositories', 'revisions') %>
		  <% if @changesets && !@changesets.empty? %>
		    <div id="revs">
		    <h3><%= l(:label_latest_revision_plural) %></h3>
		    <%= render :partial => 'gitrevisions',
		              :locals => {:project => @project, :path => @path,
		                          :revisions => @changesets, :entry => nil }%>
		  <% end %>
	      </div>
		<% end %>
	</p>
</div>
