<% if User.current.allowed_to?(:commit_access, @project) %>
	<div class="git box">
		<script type="text/javascript">
			$(document).ready(function() {
			    $('.clippy').clippy({
				    width: 20,
				    height: 20,
				    flashvars: {
					    label: '',
					    wmode: "transparent"
				    },
				    clippy_path: '<%= Setting.protocol.downcase %>://<%= Setting.host_name %>/plugin_assets/gitdownload/javascripts/jquery.clippy/clippy.swf'
			    });
			});
		</script>
		
		<% if Setting.plugin_gitdownload["git_show_repourl"] == 'on' %>
			<div>
				<h3><%= l(:label_repository_url) %></h3>
				<pre id="gitUrl">git clone <%= Setting.plugin_gitdownload["git_url"] %><%= @project.identifier %>/</pre>
				<span class="clippy" data-text="git clone <%= Setting.plugin_gitdownload["git_url"] %><%= @project.identifier %>/"></span>	
			</div>
		<% end %>


		<%= link_to l(:git_details),
			:controller => 'repositories',
			:action => 'show',
			:git_dl => '1'
		%>
	</div>
<% end %>